<div class="container">
    <p class="title-dialog">{{ titleDialog }}</p>
    <form>
        <div class="container-form-row">
            <mat-label>Nome</mat-label>
            <div class="form-row">
                <div class="container-icon-input">
                    <i class="material-icons">person</i>
                </div>
                <input type="text" [(ngModel)]="usuario.nm_usuario" [ngModelOptions]="{standalone: true}" placeholder="Nome">
            </div>
            <mat-label>CPF</mat-label>
            <div class="form-row">
                <div class="container-icon-input">
                    <i id="cpf-icon" class="fa-solid fa-id-card"></i>
                </div>
                <input type="email" [(ngModel)]="usuario.nr_cpf" [ngModelOptions]="{standalone: true}" placeholder="CPF">
            </div>
            <mat-label>Tipo de usuário</mat-label>
            <div class="form-row-type-user">
                <mat-form-field appearance="fill">
                    <mat-select placeholder="Selecione">
                        <mat-option *ngFor="let perfilUsuario of perfisUsuario" [value]="perfilUsuario.value">{{ perfilUsuario.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="buttons-container">
                <div mat-dialog-actions class="buttons-group">
                    <button
                        mat-stroked-button
                        (click)="cancel()"
                        class="btn-cancelar"
                    >
                    Cancelar
                    </button>
                    <button
                        mat-stroked-button
                        class="btn-salvar"
                    >
                    <!-- (click)="createUsuario()" -->
                    Salvar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>