<mat-card class="container-card">
  <mat-card-title>
    <p>Etapa EAP</p>
    <button mat-icon-button (click)="openDialogCreate()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>

  <div class="container-filters">
    <section>
      <mat-checkbox [(ngModel)]="checkedInactive" (change)="toggleShowInactive()">Mostrar inativos</mat-checkbox>
    </section>
  </div>

  <div class="table-container">
      <table mat-table class="full-width-table" [dataSource]="etapaEap">

        <!-- ds_etapa Column -->
        <ng-container class="ng-container" matColumnDef="ds_etapa">
          <th mat-header-cell *matHeaderCellDef>Etapa</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.ds_etapa}}</a>
          </td>
        </ng-container>

        <!-- dt_inicio_vigencia Column -->
        <ng-container class="ng-container" matColumnDef="dt_inicio_vigencia">
          <th mat-header-cell *matHeaderCellDef>Data criação</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.dt_inicio_vigencia | date : 'dd/MM/yyyy' }}</a>
          </td>
        </ng-container>

        <!-- dt_fim_vigencia Column -->
        <ng-container class="ng-container" matColumnDef="dt_fim_vigencia">
          <th mat-header-cell *matHeaderCellDef>Data inativação</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.dt_fim_vigencia  | date : 'dd/MM/yyyy' }}</a>
          </td>
        </ng-container>

        <!-- status Column -->
        <ng-container class="ng-container" matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row">
              <mat-slide-toggle *ngIf="row.status; else elseBlock" [(ngModel)]="row.status" (change)="toggleStatus(row)">Ativo</mat-slide-toggle>
              <ng-template #elseBlock>
                <mat-slide-toggle [(ngModel)]="row.status" (change)="toggleStatus(row)">Inativo</mat-slide-toggle>
              </ng-template>
          </td>
        </ng-container>

        <!-- actions Column -->
        <ng-container class="ng-container" matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let row">
            <div class="actions">
              <button
                mat-icon-button
                matTooltip="Editar"
                (click)="openDialogUpdate(row.id_etapa!)"
                class="edit"
              >
              
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
</mat-card>
