.container-card {
    margin: 0;
    padding: 0;
}

.full-width-table {
    padding: 0 20px 40px 20px;
}

mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #eee;
    padding: 10px 20px;
    color: #444;
}

mat-card-title p {
    font-size: 1.3rem;
}

.edit {
    color: #888;
}

.container-filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
    margin-left: 1.4rem;
    margin-top: 1.4rem;
}