<section class="container">
        <div class="content-left">
            <p class="title-left">Bem vindo ao SGD</p>
            <div class="container-cards">
                <mat-card class="card-option mat-elevation-z3" routerLink="/ted1">
                    <div class="card-left">
                        <mat-icon>description</mat-icon>
                    </div>
                    <div class="card-right">
                        <p class="title-card-right">Meus projetos</p>
                        <p class="content-card-right">Veja e atualize seus projetos.</p>
                    </div>
                </mat-card>
                <br>
                <mat-card class="card-option mat-elevation-z3" routerLink="/ted1">
                    <div class="card-left">
                        <mat-icon>description</mat-icon>
                    </div>
                    <div class="card-right">
                        <p class="title-card-right">Option</p>
                        <p class="content-card-right">description.</p>
                    </div>
                </mat-card>
                <br>
                <mat-card class="card-option mat-elevation-z3" routerLink="/ted1">
                    <div class="card-left">
                        <mat-icon>description</mat-icon>
                    </div>
                    <div class="card-right">
                        <p class="title-card-right">Option</p>
                        <p class="content-card-right">description.</p>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="content-right">
            <div class="img-home">
                <img src="../../../assets/img/bg_page_home.png" alt="">
            </div>
        </div>
</section>