<mat-card class="container-card">
  <mat-card-title>
    <p>Usuários</p>
    <!-- <button mat-icon-button (click)="openDialogCreate()">
      <mat-icon>add</mat-icon>
    </button> -->
  </mat-card-title>

    
  <div class="table-container">
    <table mat-table class="full-width-table" [dataSource]="usuarios">

      <!-- nm_usuario Column -->
      <ng-container class="ng-container" matColumnDef="nm_usuario">
        <th mat-header-cell *matHeaderCellDef>Usuário</th>
        <td mat-cell *matCellDef="let row">
            <a>{{row.nm_usuario}}</a>
        </td>
      </ng-container>

      <!-- nr_cpf Column -->
      <ng-container class="ng-container" matColumnDef="nr_cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let row">
            <a>{{row.nr_cpf}}</a>
        </td>
      </ng-container>

      <!-- dt_inicio_vigencia Column -->
      <ng-container class="ng-container" matColumnDef="dt_inicio_vigencia">
        <th mat-header-cell *matHeaderCellDef>Data ativação</th>
        <td mat-cell *matCellDef="let row">
            <a>{{row.dt_inicio_vigencia}}</a>
        </td>
      </ng-container>

      <!-- dt_fim_vigencia Column -->
      <ng-container class="ng-container" matColumnDef="dt_fim_vigencia">
        <th mat-header-cell *matHeaderCellDef>Data inativação</th>
        <td mat-cell *matCellDef="let row">
            <a>{{row.dt_fim_vigencia}}</a>
        </td>
      </ng-container>

      <!-- tx_senha_acesso Column -->
      <!-- <ng-container class="ng-container" matColumnDef="tx_senha_acesso">
        <th mat-header-cell *matHeaderCellDef>Senha</th>
        <td mat-cell *matCellDef="let row">
            <a>{{row.tx_senha_acesso}}</a>
        </td>
      </ng-container> -->

      <!-- status Column -->
     <!--  <ng-container class="ng-container" matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
            <mat-slide-toggle *ngIf="row.status; else elseBlock" [(ngModel)]="row.status" (change)="toggleStatus(row)">Ativo</mat-slide-toggle> 
            <ng-template #elseBlock>
              <mat-slide-toggle [(ngModel)]="row.status" (change)="toggleStatus(row)">Inativo</mat-slide-toggle> 
            </ng-template>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
</mat-card>