<mat-card class="container-card">
    <mat-card-title>Editar</mat-card-title>
    <div class="container">
        <div class="content-list">
            <mat-selection-list class="full-width-list" #tabelasbasicas [multiple]="false">
                <mat-list-option *ngFor="let option of matListOptions" routerLink={{option.routerLink}}>
                    <div class="container-list-option">
                        <i class="material-icons">apps</i>
                        {{ option.view_label }}
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
</mat-card>

