<div class="container">
    <p class="title-dialog">{{ titleDialog }}</p>
    <form>
        <mat-form-field class="input-full-width" appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput [(ngModel)]="situacaoTarefa.ds_situacao_tarefa" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        
        <div class="buttons-container">
            <div mat-dialog-actions class="buttons-group">
                <button
                    mat-stroked-button
                    class="btn-cancelar"
                    (click)="cancel()"
                >
                    Cancelar
                </button>
                <button
                    mat-stroked-button
                    class="btn-salvar"
                    (click)="createSituacaoTarefa()"
                >
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>
