.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    
}

.error {
    font-size: 2rem;
    color: #666;
}

@media (max-width: 600px)
{
  .error
   {
    font-size: 1.8rem;
    color: #666;
   }
}

@media (max-width: 426px)
{
  .error
   {
    font-size: 1.5rem;
    color: #666;
   }
}
