/* Grid styles -------------------------------------------------*/
/* .container {
    background-color: rgb(233, 229, 229);
    display: flex;
    flex-direction: column;
} */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    max-width: 1000px;
    margin: 0 auto 30px; 
}


.card-item {
    position:relative;
    height: 250px;
    position: relative;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 4px;
}

.card-item:hover{
    top:-3px;
    cursor: pointer;
}

.sigla-ted {
    margin-top: 5px;
}

.sigla-ted h4 {
    font-size: 23px;
    line-height: 38px;
    font-weight: 500;
    margin: 0;
    color: #777;
}

.descricao-ted p {
    height: 100%;
    margin-top: 5px;
    font-size: 0.8rem;
    color: #777;
}


.content-ted span {
    font-size: 0.7rem;
}

.descricao-ted  {
    height: 150px;
    overflow: hidden;
    overflow-wrap: break-word;
}


.info-ted {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    color: #666;
}

.id-ted {
    margin-right: 5px;
}

.usurios, .atividades {
    display: flex;
    margin: 0 5px;
}


.info-ted i {
    transform: scale(0.7);
}

.card-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
    height: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-content {
    padding: 2px 16px;
}