<div class="container">
    <app-title-page title="Meus projetos"></app-title-page>
    <section class="cards">
        <ng-container *ngFor="let ted of teds; let i = index;">
          <div class="card-item" routerLink="/ted-detalhe/{{ted.id_ted}}">
              <div class="card-header" [style.background-color]="tedsTheme[i]"></div>
              <div class="card-content">
                  <div class="sigla-ted">
                      <h4>{{ ted.sg_ted }}</h4>
                  </div>
                  <div class="content-ted">
                      <div class="descricao-ted">
                          <p>{{ ted.ds_ted }}</p>
                      </div>

                      <div class="info-ted">
                          <div class="id-ted">
                              <span>ID: {{ ted.id_ted }}</span>
                          </div>
                          
                          <div class="usurios">
                                <i class="material-icons">people</i>
                                <span matTooltip="Usuários">{{ ted.tb_usuario.length }}</span>
                          </div>
                          <!-- <div class="atividades">
                              <i class="material-icons">assignment</i>
                              <span matTooltip="Atividades">{{ ted.tb_usuario.length }}</span>
                          </div> -->
                      </div>

                  </div>
              </div>
          </div>
      </ng-container>
  </section>
</div>