* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    height: 100%;
}

.container-atividade {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 20px;
    padding: 0px 15px 15px 15px;
}

.container-descricao-atividade {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.container-descricao-atividade input {
    border: none;
    border-radius: 4px;
    background: transparent;
    padding: 5px 15px 5px 0px;
    color: #172b4d;
    font-size: 1.5rem;
    font-weight: 500;
}

.container-descricao-atividade input:hover {
    border: 1px solid #999;
}

.container-descricao-tarefa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.content-descricao-tarefa {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 10px;
}

.content-descricao-tarefa input {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    color: #172b4d;
    font-size: .8rem;
    border: 1px solid #cecece;
    border-radius: 4px;
}

.content-descricao-tarefa input:hover {
    border: 1px solid #999;
}

.content-descricao-tarefa .user-avatar {
    background-color: #ece9e9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.container-avatar {
}

.container-input-tarefa {
    display: flex;
    flex-direction: column;
}


.container-input-tarefa .btn-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
    margin: 15px 0;
}

.content-descricao-tarefa .user-avatar mat-icon {
    transform: scale(.7);
}

.container-descricao-atividade textarea {
    width: 100%;
    background-color: #ece9e9;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
}

.container-descricao-atividade textarea:hover {
    border: 1px solid #999;
}

/* NOT WORKING */
/* .container-descricao-atividade textarea:active {
    border: 1px solid #999;
} */

.container-tarefa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 30px;
}

.container-tarefa p {
    color: #172b4d;
    font-weight: 500;
}