<div class="container">
    <section class="container-atividade">
        <div class="container-descricao-atividade">
            <input
                type="text"
                [value]="atividadeBacklog.ds_atividade_etapa"
            >
            <textarea
                matInput
                rows="3"
                placeholder="Adicione uma descrição mais detalhada..."
                [value]="atividadeBacklog.ds_detalhe_atividade"
                placeholder="Descrição mais detalhada da atividade..."
            ></textarea>
        </div>
        <mat-divider></mat-divider>
        <div class="container-tarefa">
            <div class="container-descricao-tarefa">
                <p>Tarefas</p>
                <div class="content-add-tarefa">
                    <div class="container-avatar">
                        <span
                            matTooltip="Admin"
                            class="user-avatar">
                            <mat-icon>person_outline</mat-icon>
                        </span>
                    </div>
                    
                    <div class="container-input-tarefa" style="width: 100%">
                        <input
                            type="text"
                            class="input-descricao-tarefa"
                            placeholder="Adicione uma tarefa..."
                            (click)="isActiveBtnGroupAddTarefa = !isActiveBtnGroupAddTarefa"
                        >
                        
                        <div *ngIf="isActiveBtnGroupAddTarefa" class="btn-group">
                            <button
                                mat-stroked-button
                                class="btn-cancelar"
                                (click)="isActiveBtnGroupAddTarefa = false"
                            >
                                Cancelar
                            </button>
                            <button
                                mat-stroked-button
                                class="btn-salvar"
                            >
                                Salvar
                            </button>
                        </div>
                    </div>
                    
                </div>
                <!-- TODO: o estilo está sendo definido como inline temporáriamente. Implementar estrutura de estilo para este caso -->
                <div style="margin-top: 20px;"></div>
                <div *ngFor="let tarefa of tarefas" class="content-descricao-tarefa" style="margin: 10px 0px;">
                    <div class="container-avatar">
                        <span
                            matTooltip="Admin"
                            class="user-avatar">
                            <mat-icon>person_outline</mat-icon>
                        </span>
                    </div>
                    
                    <div  class="container-input-tarefa" style="width: 100%">
                        <div class="info-tarefa">
                            <p>Admin</p>
                            <p>{{ tarefa.dt_inclusao | date : 'dd/MM/yyyy' }}</p>
                        </div>
                        
                        <input
                            type="text"
                            [value]="tarefa.ds_tarefa"
                            class="input-descricao-tarefa"
                            (click)="isActiveBtnGroupActionsTarefa = !isActiveBtnGroupActionsTarefa"
                        >
                        <div *ngIf="isActiveBtnGroupActionsTarefa" class="container-btn-group-actions">
                            <!-- *ngIf="isActiveBtnGroupActionsTarefa" class="btn-group" -->
                            <span (click)="isActiveBtnGroupActionsTarefa = false">Cancelar</span>
                            <span>Salvar</span>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    
</div>