<div class="container">
    <p class="title-dialog">{{ titleDialog }}</p>
    <form>
        
        <div class="container-form-row">
            <mat-label>Descrição</mat-label>
            <div class="form-row">
                <div class="container-icon-input">
                    <i class="material-icons">description</i>
                </div>
                <input type="text" [(ngModel)]="motivoBloqueio.tx_motivo_bloqueio" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        
        
        <div class="buttons-container">
            <div mat-dialog-actions class="buttons-group">
                <button
                    mat-stroked-button
                    class="btn-cancelar"
                    (click)="cancel()"
                >
                    Cancelar
                </button>
                <button
                    mat-stroked-button
                    class="btn-salvar"
                    (click)="createMotivoBloqueio()"
                >
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>
