<mat-card class="container-card">
  <mat-card-title>Tarefas</mat-card-title>
  <div class="table-container">
      <table mat-table class="full-width-table" [dataSource]="tarefa">
          
        <!-- id_tarefa Column -->
        <ng-container class="ng-container" matColumnDef="id_tarefa">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.id_tarefa}}</a>
          </td>
        </ng-container>

        <!-- ds_etapa Column -->
        <ng-container class="ng-container" matColumnDef="ds_etapa">
          <th mat-header-cell *matHeaderCellDef>Etapa</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.tb_atividade_backlog.tb_atividade_etapa_eap.tb_etapa_eap.ds_etapa}}</a>
          </td>
        </ng-container>

        <!-- ds_atividade_etapa Column -->
        <ng-container class="ng-container" matColumnDef="ds_atividade_etapa">
          <th mat-header-cell *matHeaderCellDef>Atividade etapa</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.tb_atividade_backlog.tb_atividade_etapa_eap.ds_atividade_etapa}}</a>
          </td>
        </ng-container>

        <!-- ds_atividade_backlog Column -->
        <ng-container class="ng-container" matColumnDef="ds_atividade_backlog">
          <th mat-header-cell *matHeaderCellDef>Atividade Backlog</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.tb_atividade_backlog.ds_atividade_etapa}}</a>
          </td>
        </ng-container>

        <!-- ds_tarefa Column -->
        <ng-container class="ng-container" matColumnDef="ds_tarefa">
          <th mat-header-cell *matHeaderCellDef>Tarefa</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.ds_tarefa}}</a>
          </td>
        </ng-container>

        <!-- ds_situacao_tarefa Column -->
        <ng-container class="ng-container" matColumnDef="ds_situacao_tarefa">
          <th mat-header-cell *matHeaderCellDef>Situação</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.tb_situacao_tarefa.ds_situacao_tarefa}}</a>
          </td>
        </ng-container>

        <!-- nr_regra_negocio Column -->
        <ng-container class="ng-container" matColumnDef="nr_regra_negocio">
          <th mat-header-cell *matHeaderCellDef>Regra de negócio</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.nr_regra_negocio}}</a>
          </td>
        </ng-container>

        <!-- nr_historia_usuario Column -->
        <ng-container class="ng-container" matColumnDef="nr_historia_usuario">
          <th mat-header-cell *matHeaderCellDef>HU</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.nr_historia_usuario}}</a>
          </td>
        </ng-container>

        <!-- dt_inclusao Column -->
        <ng-container class="ng-container" matColumnDef="dt_inclusao">
          <th mat-header-cell *matHeaderCellDef>Data inclusão</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.dt_inclusao}}</a>
          </td>
        </ng-container>

        <!-- dt_inicio_vigencia Column -->
        <ng-container class="ng-container" matColumnDef="dt_inicio_vigencia">
          <th mat-header-cell *matHeaderCellDef>Data início</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.dt_inicio_vigencia}}</a>
          </td>
        </ng-container>

        <!-- dt_fim_vigencia Column -->
        <ng-container class="ng-container" matColumnDef="dt_fim_vigencia">
          <th mat-header-cell *matHeaderCellDef>Data fim</th>
          <td mat-cell *matCellDef="let row">
              <a>{{row.dt_fim_vigencia}}</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
</mat-card>