h1, h2, h3, a, p, span {
    margin: 0;
    padding: 0;
}

h1 {
    color: #5e6c84;
}

h2 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th, td, tr {
    background-color: rgba(0, 0, 0, 0.0) !important;
    padding-right: 20px;
}

.container {
}

.container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-title-ted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.content-title-ted h1 {
    font-size: 1.4rem;
    margin: 0;
}

.content-title-ted span {
    font-size: .9rem;
    color: #999;
    font-weight: 400;
}

.container-info-ted {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.container-info-ted i {
    transform: scale(0.7);
}

.container-info-ted .content-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
}

.btn-criar-atividade {
    color: #04591A;
    border: 1px solid #04591A;
}

.container-sem-atividade {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.container-sem-atividade h1 {
    color: #999;
    font-size: 1.7rem;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    cursor: pointer;
}

.progress div {
    padding: 4px;
}

.progress div:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.progress div:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

mat-divider {
    margin: 1.5rem 0;
}

.card-atividades {
    border-top: 3px solid #04591A;
}

#column-atividade {
    width: 80%;
}

.column-atividade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: .3rem;
    padding: 0.3rem 0 1.5rem 0;
}

.column-atividade .container-date {
    width: 100%;
    margin-bottom: .6rem;
}

.column-atividade .descricao-atividade {
    display: flex;
    flex-direction: column;
}

.column-atividade .descricao-atividade a {
    color: #5e6c84;
}

.column-atividade .descricao-atividade span {
    color: #999;
}

.column-atividade .container-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.container-date .content-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #5e6c84;
    padding-right: 15px;
    
}

.content-date .container-label-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-label-date mat-icon {
    transform: scale(.7);
}

.content-date #label-date {
    color: #5e6c84;
    font-size: .8rem;
    font-weight: 500;
}

.content-date #value-date {
    padding: 0px 20px;
    background-color: #e0e0e0;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
}

.content-date #value-date:hover {
    background-color: #d3d2d2;
}

.icon-situacao {
    border-radius: 50%;
    padding: 0px 8px;
}

.icon-situacao.finalizada {
    background-color: #61bd4f;
}

.icon-situacao.em-andamento {
    background-color: #0079bf;
}

.icon-situacao.em-homologacao {
    background-color: #ff9f1a;
}

.icon-situacao.bloqueada {
    background-color: #eb5a46;
}

.btn-situacao span, .container-button-menu span {
    margin: 0 3px;
}

.icon-prioridade-atividade-alta {
    color: #eb5a46;
}

.icon-prioridade-atividade-media {
    color: #ff9f1a;
}

.icon-prioridade-atividade-baixa {
    color: #0079bf;
}

.container-button-menu-prioridade {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
}