<div class="container">
    <div class="container-title">
        <div class="content-title-ted">
            <h1>{{ titleTed }}</h1>
            <div class="container-info-ted">
                <div class="content-info">
                    <span>ID TED: {{ idTed }}</span>
                </div>
                <div matTooltip="Atividades" class="content-info">
                    <i class="material-icons">assignment</i>
                    <span>{{ atividadesBacklog.length }}</span>
                </div>
                <div matTooltip="Pesquisadores" class="content-info">
                    <i class="material-icons">people</i>
                    <span>{{ usuarios.length }}</span>
                </div>
            </div>
        </div>
        
        <button
            mat-stroked-button
            class="btn-criar-atividade"
            (click)="openDialogCreate()"
            matTooltip="Criar Atividade"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="progress" *ngIf="atividadesBacklog.length > 0">
        <div
            *ngFor="let item of dashboardSituacaoAtividade"
            matTooltip="{{item.label}} {{item.percent}}%"
            [style]="item.style"
        ></div>

    </div>
    
    <mat-divider></mat-divider>

    <div class="container-sem-atividade" *ngIf="atividadesBacklog.length == 0">
        <h1>Não há atividades</h1>
    </div>
    <div class="content-atividades" *ngIf="atividadesBacklog.length > 0">
        <mat-card class="card-atividades">
            <mat-card-subtitle>Atividades</mat-card-subtitle>
            <mat-card-content>
                <table mat-table class="full-width-table" [dataSource]="atividadesBacklog">
              
                    <!-- atividade Column -->
                    <ng-container class="ng-container" matColumnDef="atividade">
                        <th mat-header-cell *matHeaderCellDef>Atividade</th>
                        <td
                            mat-cell
                            *matCellDef="let row"
                            id="column-atividade"
                        >
                            <div class="column-atividade">
                                <div class="container-date">
                                    <table class="content-date">
                                        <tr>
                                            <th>
                                                <div class="container-label-date">
                                                    <mat-icon>schedule</mat-icon>
                                                    <h3 id="label-date">Data de Início</h3>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="container-label-date">
                                                    <mat-icon>schedule</mat-icon>
                                                    <h3 id="label-date">Data de Entrega</h3>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span id="value-date">{{ row.dt_inicio_vigencia | date : 'dd/MM/yyyy' }}</span>
                                            </td>
                                            <td>
                                                <span id="value-date" *ngIf="row.dt_fim_vigencia != null">{{ row.dt_fim_vigencia | date : 'dd/MM/yyyy' }}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                
                                <div class="descricao-atividade">
                                    <h2>
                                        <a routerLink="/atividade-backlog-detalhe/{{row.id_atividade}}">{{row.ds_atividade_etapa}}</a>
                                    </h2>
                                    <span>{{row.ds_detalhe_atividade}}</span>
                                </div>
                            </div>
                      </td>
                    </ng-container>
                    
                    <!-- situacao Column -->
                    <ng-container class="ng-container" matColumnDef="situacao">
                      <th mat-header-cell *matHeaderCellDef>Situação</th>
                      <td mat-cell *matCellDef="let row">
                        <button
                            mat-button
                            [matMenuTriggerFor]="menu"
                            class="btn-situacao"
                        >
                            <span [(class)]="row.tb_situacao_atividade.classe"></span>
                            <span>{{row.tb_situacao_atividade.ds_situacao_atividade}}</span>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button
                                mat-menu-item
                                *ngFor="let situacao of situacoesAtividade"
                                (click)="selectedSituacao(situacao.id_situacao_atividade, row)"
                            >
                                <div class="container-button-menu">
                                    <span [class]="situacao.classe"></span>
                                    <span>{{situacao.ds_situacao_atividade}}</span>
                                </div>
                            </button>
                           
                        </mat-menu>
                      </td>
                    </ng-container>
              
                    <!-- prioridade Column -->
                    <ng-container class="ng-container" matColumnDef="prioridade">
                      <th mat-header-cell *matHeaderCellDef>Prioridade</th>
                      <td mat-cell *matCellDef="let row">
                          <button
                            mat-button
                            [matMenuTriggerFor]="menu"
                        >
                            <i class="material-icons" [class]="row.tb_prioridade_atividade.classe">{{ row.tb_prioridade_atividade.nome_icone }}</i>
                            {{ row.tb_prioridade_atividade.ds_prioridade_atividade }}
                        </button>
                        <mat-menu #menu="matMenu">
                            <button
                                mat-menu-item
                                *ngFor="let prioridade of prioridadesAtividade"
                                (click)="selectedPrioridade(prioridade.id_prioridade_atividade, row)"
                            >
                                <div class="container-button-menu-prioridade">
                                    <i class="material-icons" [class]="prioridade.classe">{{ prioridade.nome_icone }}</i>
                                    {{ prioridade.ds_prioridade_atividade }}
                                </div>
                            </button>
                           
                        </mat-menu>
                      </td>
                    </ng-container>
              
                    <!-- sprint Column -->
                    <ng-container class="ng-container" matColumnDef="sprint">
                        <th mat-header-cell *matHeaderCellDef>Sprint</th>
                        <td mat-cell *matCellDef="let row">
                            <button
                                mat-button
                                [matMenuTriggerFor]="menu"
                            >
                                <span>{{row.id_sprint}}</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button
                                    mat-menu-item
                                    *ngFor="let sprint of sprints"
                                    (click)="selectedSprint(sprint.id_sprint, row)"
                                >
                                    <span>{{sprint.id_sprint}}</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
              
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
